@charset "UTF-8";

html, body{
    margin:0;
    height:100%;
}
body{
    box-sizing:border-box;
    display:flex;
    justify-content: center;
    align-items: stretch;
}
main{
    width:100%;
    background-color:blueviolet;
    display:flex;
    flex-direction: column;
}
header{
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #505050;
    height:24px;
    color: white
}
section{
    height:100%;
    background-color: white;
    display:flex;
    justify-content: flex-start;
}
aside{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 45px;
    background-color:#505050;
}

.fa-solid{
    color: rgb(187, 187, 187);
    font-size: 16px;

}

.fa-solid:hover{
    color: #ffffff;

}

.material-symbols-outlined {
    color: rgb(187, 187, 187);
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.material-symbols-outlined:hover {
    color:#ffffff;

}

nav{

    width:150px;
    background-color: #3b3b3b;
    color: white;
    transition:width 1s;
    display:flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow:hidden;
    flex-direction: column;
}

details{
    margin:5px;
    width:90px;
}
.file{
    list-style-image: url('images/paper.png')
}
.other{
    list-style-image: url('images/fire.png')
}
summary{
    width:90px;
}
#content{
    width:100%;
    background-color:rgb(255, 179, 255);
    display:flex;
    flex-direction: column;
}
    #tabs{
        background-color: black;
        gap: 2px;
        display:flex;
        
        font-size: 16px;
    }
        #tabs a{
            width:100px;
            height:30px;
            
            display:inline-block;
            min-width: 175px;
            color: #e0e0e0;
            text-decoration: none;
            padding-left: 10px;
            padding-top: 15px;
            
        }
        #tabs a:hover{
            background-color: #ffffff;
        }
        #tabs a:link, #tabs a:visited{
            background-color: #3b3b3b;

        }
        #tabs a:hover{
            background-color: #ffffff;
        }
    #breadcrumbs{
        background-color: rgb(45, 45, 45);
        color: #e0e0e0;
    }
    #breadcrumbs>a{
        color: #0058A9;
    }
    textarea{
        resize:none;
        width:100%;
        height:100%;
        box-sizing: border-box;
        border:none;
        outline:none;
        background-color:black;
        color:white;
    }
footer{
    height:16px;
    background-color:#0254A0;
    text-align: right;
    font-variation-settings: 
    'opsz' 1;
}

.hidden{
    width:0;
    padding:0;
    transition:width 1s;
}

.floatR{
    float: right;
}

.pushR{
    padding-left: 650px;
}

.pushC{
    padding-left: 500px;
}

.pushD{
    margin-top: 650px;
}