@charset "UTF-8";

html, body{
    margin:0;
    height:100vh;
    font-family: 'Courier New', Courier, monospace;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
}
table{
    width:80%;
    border-collapse: collapse;
}
 td{
    border-bottom:1px solid black;
    
}
thead{
    background-color: black;
    color: white;
}
tbody{
    background-color: white;
}
h1{
    color: crimson;
    text-align: center;
    text-decoration: underline crimson;
}


@media (max-width:1920px)
{
    thead > tr:last-child
    {
        display: none;
    }
    thead > tr:first-child
    {
        display: table-row;
    }
    h1 
    {
        font-size: 1.5em;
    }
    thead 
    {
        font-size: 1em;
    }
    tbody 
    {
        font-size: 1em;
    }

}

@media (max-width:1000px)
{
    thead > tr:first-child
    {
        display: none;
    }
    thead > tr:last-child
    {
        display: table-row;
    }
    h1 
    {
        font-size: 1.5em;
    }
    thead 
    {
        font-size: 1em;
    }
    tbody 
    {
        font-size: 1em;
    }
}

@media (max-width:500px)
{
    .stat
    {
        display: none;
    }
    h1 
    {
        font-size: 2em;
    }
    thead 
    {
        font-size: 1.5em;
    }
    tbody 
    {
        font-size: 1.25em;
    }
}